<div class='js'>
    <script>
        window.ude_config = {
            centerUrl: "{{centerUrl}}",
            apiUrl: "{{apiUrl}}",
            udeUrl: "{{udeUrl}}",
            bundleSourceMode : true,
            nodeStarted: false,
            shellId : 2241
        };
    </script>
    <script src="/scripts/user/boot.js"></script>
</div>
